<p>EsAlT es un recurso para lectores, escritores, editores, estudiantes y profesores interesades en la cultura afroamericana y latinoamericana en general, y afrolatinoamericana en particular. Reúne portadas, fragmentos, pistas bibliotecarias y descargas digitales de obras de autores negres latinoamericanes en lengua original y traducidas. 
<!-- more --></p>

<p>La colección se organiza por listas dinámicas, que agrupan las obras de acuerdo a características en común (autores, ciudad de edición, editorial, nacionalidad de autores, fecha de edición y repositorio digital). Pero también cuenta con un buscador que permite encontrar obras directamente.</p>

<p>Hoy hay aproximadamente 89 libros disponibles en EsALT, organizados en 118 autores, 86 imprentas y editoriales, y 31 repositorios. Además, 31 obras más se encuentran en proceso. EsALT es una plataforma escalable. Y en la medida que crezca la cantidad de metadatos que se están almacenando, y se desarrollen nuevas funcionalidades, permitirá conocer datos relevantes sobre este corpus literario.</p>

<p>En esta primera etapa, el archivo se ha alimentado parcialmente de las compilaciones de Mark Sanders, Paulette Ramsay, Antonio D Tillis, Keenan Norris, Idelfonso Pereda Valdés y Emilio Vallagas. Pero el archivo se encuentra abierto para que usuaries y beneficiaries de la plataforma <a href="/agregar">incorporen nuevos contenidos</a>.</p>

